@charset "utf-8";

/* 3단계 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
	outline: 0;
}

figure {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(25deg, violet, pink);
}

figure h1 {
    position: absolute;
    top: 7vh;
    left: 4vw;
    font-size: 0;
}

figure h1 strong {
    font-size: 36px;
    font-family: "arial";
    color: #fff;
    line-height: 1.4;
    letter-spacing: 1px;
}

figure h1 span {
    font-size: 12px;
    font-family: "arial";
    color: #fff;
    opacity: 0.8;
    line-height: 1;
    letter-spacing: 1px;
}

figure .menu {
    position: absolute;
    top: 8vh;
    right: 4vw;
    font-size: 24px;
    color: #fff;
}

figure > p {
    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translateX(-50%);
    font: 12px/1 "arial";
    color: #fff;
    letter-spacing: 2px;
    opacity: 0.8;
}

/* section 음악 필레이어 패널 프레임*/
figure section {
    width: 20vw;
    height: 65vh;
    position: absolute;
    left: 50%;
    top: 140%;
    margin-top: -10vh;
    margin-left: -10vw;
}

/* 개별 음약 플레이어 패널 */
figure section article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* 음악 플레이어 패널 컨텐츠 그룹 */
figure section article .inner {
    width: 100%;
    height: 100%;
    background: #f0f7ff;
    padding: 5vh 2.5vw 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    /* 활성화된 패널과 그렇지 않은 패널 구분을 위해 투명도도를 주고 축소시킴 */
    opacity: 0.6;
    transform: scale(0.8);
}

figure section article.on .inner {
    opacity: 0.9;
    transform: scale(1.1);
}

figure section article .inner .pic {
    width: 15vw;
    height: 15vw;
    margin: 0px auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    /* 배경 이미지 위칫값을 조절하여 .pic 요소의 이미지를 숨김 */
    background-position: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure section article .inner .pic::before,
figure section article .inner .pic::after {
    content: "";
    display: block;
    width: inherit;
    border-radius: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    /* 부요 요소 .pic으로부터 이미지 상속 */
    background-image: inherit;
    background-position: center;
    background-repeat: inherit;
    background-size: cover;
    transform-origin: center center;
}

figure section article .inner .pic::before {
    content: "";
    transform: translateY(10%);
    filter: blur(20px) brightness(1.6);
}

figure section article .inner .pic .dot {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #e4f1ff;
    position: relative;
    z-index: 3;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

figure section article .inner .txt {
    text-align: center;
    position: relative;
    z-index: 3;
}

figure section article .inner .txt h2 {
    font-size: 20px;
    font-family: "arial";
    color: #222;
    margin-bottom: 5vh;

}

figure section article .inner .txt p {
    font-size: 12px;
    margin-bottom: 7vh;
    color: #777;
}

figure section article .inner .txt ul {
     display: flex;
     justify-content: space-between;
}

figure section article .inner .txt ul li {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
}

figure section article .inner .txt ul li:hover {
    transform: scale(1.5);
    opacity: 0.8;
}

figure section article .inner .txt ul li.play {
    transform: scale(1.5);
    opacity: 0.9;
}

figure section article .inner .txt ul li.play:hover {
    transform: scale(2);
    opacity: 1;
}

/* 컨트롤 패널 버튼으로 음악을 재생-정지하기 */

/* 앨범 커버 이미지 회전 키프레임 */
@keyframes ani {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 앨범 커버 그림자 회전 키프레임 */
@keyframes ain2 {
   0% {
    transform:translateY(10%) rotate(0deg);
    }
   100% {
    transform:translateY(10%) rotate(360deg);
    }
}


figure section article .inner .pic.on {
    animation: ani linear 10s infinite;
}

figure section article .inner .pic.on {
    animation: ani2 linear 10s infinite;
}

